*{
    font-family: 'Roboto', sans-serif;
}
body {
    background-color:#7f00b2;
    color: #fff;
    margin: 0;
    padding: 10px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

@media (max-width: 768px) {

    /*Start mobile*/
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        min-height: 90vh;
    }

    .user {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        font-size: 1rem;
    }

    .myPhoto {
        margin-top: 5vh;
        width: 25%;
        height: 25%;
        border-radius: 50%;
        border: 5px solid #fff;
        margin-bottom: 1vh;

    }

    .user-title {
        margin: 0;
        text-align: center;
    }

    .user-text {
        color: #fff;
        text-align: center;
        
    }


    .box-main{
        margin-top: auto;
    }

    .contacts{
        width: 100%;
        display: flex;
        justify-content: center;
        margin: 2vh 0;
    }

    .github img{
        max-width: 10vw;
        padding: .5rem;
        border: 1px solid #fff;
        border-radius: .5rem;
        background-color: #fff;
        margin-right: 1rem;
    }

    .linkedin img{
        max-width: 10vw;
        padding: .5rem;
        border: 1px solid #fff;
        border-radius: .5rem;
        background-color: #fff;
    }

    .contacts img:hover{
        background-color: transparent;
        transition: 1s;
    }

    .box-cards{
        display: flex;
        flex-direction: column;
        max-width: 100%;
        border-radius: .5rem;
    }

    .img-project img{
        width: 100%;
    }

    .card{
        border: 1px solid;
        display: flex;
        flex-direction: column;
        max-width: 80vw;
        margin: 1rem 0;
        border-radius: .5rem;
        background-color: #4c007d;
        

    }

    .card:hover{
        -moz-transform: scale(1.1);
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
        transition: 1s;
    }

    .card label{
        padding: .5rem;
        border-radius: .5rem .5rem 0 0;
        background-color: #4c007d;
    }

    .saibaMais{
        padding: .3rem;
        border: 1px solid ;
        width: 30%;
        border-radius: .5rem;
        text-align:center;
        margin: .3rem .3rem .3rem auto;
    }

    .saibaMais:hover{
        background-color:  #9730db;;
        transition: 1s;
    }

    .saibaMais a{
        color:#fff;
        text-decoration: none;
    }







    footer{
       
        text-align: center;
        border-top: 1px solid #fff;
        margin-top: auto;
        padding: 10px 5px;
        font-size: .6rem;
       
    }
} /*End mobile*/

/*
@media (min-width: 769px) {

}

*/